version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kiko_landing
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
    # Для разработки можно раскомментировать:
    # volumes:
    #   - .:/app
    #   - /app/node_modules
